<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <style>
        body {
            background-image: url("https://i.pinimg.com/originals/5f/b9/b0/5fb9b0855149b233f1baabb13ff76010.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        table, td {
            border: solid black;
        }

        td {
            width: 20px;
            height: 20px;
        }

        .center {
            align-self: center;
            width: 30%;
            background-color: darkgray;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<img style="display: block; margin: 0 auto;" src="https://tetris.com/assets/brand/project-logo.png">
<a href="http://localhost:8080/game" class="btn btn-dark" style="width: 40%; height: 30%; font-size: large; align: center; display: block; margin: 20px auto">Start Game</a>
<a href="http://localhost:8080/showScore" class="btn btn-dark" style="width: 40%; height: 30%; font-size: large; align: center; display: block; margin: 20px auto">Leaderboard</a>
</body>
</html>